.block-photo {
    margin-bottom: 30px;
}

.block-photo-contetnt {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-photo-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: $title;
    max-width: 256px;
    margin-bottom: 18px;
}

.block-photo-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: $title;
    max-width: 483px;
    margin-bottom: 23px;
}

.block-photo-details {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    .block-photo-details-icon {
        padding-right: 13px;
    }
}

.block-photo-video {
    position: relative;
}

.block-photo-video-btn {
    position: absolute;
    background-image: url("../img/btn-play.svg");
    width: 16px;
    height: 23px;
    right: 41px;
    top: 65%;
    cursor: pointer;
}

.block-photo-hr {
    color: $grey;
    height: 0px;
    border: 0.5px solid $grey;
}

.block-photo-gallery-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: $title;
    margin-bottom: 37px;
}

.photo-gallery-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
        margin-bottom: 11px;
    }
}

.block-photo-gallery-show-more {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        background-color: #ffffff;
        color: $blue;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
        position: relative;
    }
    margin-bottom: 27px;
}