<div class="block-photo">
    <div class="wrap">
        <div class="block-photo-contetnt">
            <div class="block-photo-context">
                <p class="block-photo-title">Фотосессия в вертолете</p>
                <p class="block-photo-text">Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты</p>

                <div class="block-photo-details">
                    <div class="block-photo-details-icon">
                        <img src="img/icon-time.svg" alt="">
                    </div>
                    <div class="block-photo-details-text">
                        3 часа съемки
                    </div>
                </div>
                <div class="block-photo-details">
                    <div class="block-photo-details-icon">
                        <img src="img/icon-photo.svg" alt="">
                    </div>
                    <div class="block-photo-details-text">
                        Более 50 фотографий
                    </div>
                </div>
                <div class="block-photo-details">
                    <div class="block-photo-details-icon">
                        <img src="img/icon-map-pin.svg" alt="">
                    </div>
                    <div class="block-photo-details-text">
                        Москва
                    </div>
                </div>
                <div class="block-photo-details">
                    <div class="block-photo-details-icon">
                        <img src="img/icon-dialog.svg" alt="">
                    </div>
                    <div class="block-photo-details-text">
                        Готовы ответить на любые вопросы
                    </div>
                </div>

                <hr class="block-photo-hr"> @@include('../__feedback-block/__feedback-block.html')

                <hr class="block-photo-hr">
            </div>
            <div class="block-photo-video">
                <div>
                    <img src="img/photo/photo-player.jpg" alt="">
                </div>
                <div class="block-photo-video-btn"></div>
            </div>
        </div>
    </div>
</div>

<div class="block-photo-gallery">
    <div class="wrap">
        <p class="block-photo-gallery-title">Фотографии пакета:</p>
        <div class="photo-gallery-item">
            <img class="photo-gallery photo-hidden" src="img/photo/01.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/02.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/03.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/04.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/01.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/02.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/03.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/04.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/01.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/02.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/03.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/04.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/01.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/02.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/03.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/04.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/01.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/02.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/03.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/04.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/01.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/02.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/03.jpg" alt="">
            <img class="photo-gallery photo-hidden" src="img/photo/04.jpg" alt="">
        </div>
        <div class="block-photo-gallery-show-more">
            <img src="img/arrow.svg" alt="">
            <button id="photo-gallery-btn">Показать все фото</button>
            <img src="img/arrow.svg" alt="">
        </div>

        <hr class="block-photo-hr">
    </div>



</div>