<div class="block-photo">
    <div class="wrap">
        <div class="block-photo-contetnt">
            <div class="block-photo-context">
                <p class="block-photo-title">Фотосессия в вертолете</p>
                <p class="block-photo-text">Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты</p>

                <div class="block-photo-details">
                    <div class="block-photo-details-icon">
                        <img src="img/icon-time.svg" alt="">
                    </div>
                    <div class="block-photo-details-text">
                        3 часа съемки
                    </div>
                </div>
                <div class="block-photo-details">
                    <div class="block-photo-details-icon">
                        <img src="img/icon-photo.svg" alt="">
                    </div>
                    <div class="block-photo-details-text">
                        Более 50 фотографий
                    </div>
                </div>
                <div class="block-photo-details">
                    <div class="block-photo-details-icon">
                        <img src="img/icon-map-pin.svg" alt="">
                    </div>
                    <div class="block-photo-details-text">
                        Москва
                    </div>
                </div>
                <div class="block-photo-details">
                    <div class="block-photo-details-icon">
                        <img src="img/icon-dialog.svg" alt="">
                    </div>
                    <div class="block-photo-details-text">
                        Готовы ответить на любые вопросы
                    </div>
                </div>

                <hr class="block-photo-hr">
                <div class="block-photo-feedback">
                    <img src="img/icon-feedback.svg" alt="">
                    <p>Более 50 отзывов с оценкой </p>
                    <div class="rating"></div>
                </div>
            </div>
            <div class="block-photo-video">
                <img src="img/photo/photo-player.jpg" alt="">
            </div>
        </div>
    </div>
</div>