.button-booking {
    background-color: transparent;
    width: 304px;
    height: 68px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
    border-radius: 3px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}