.input-card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $title;
    margin-bottom: 10px;
}

.input-card-num {
    max-width: 420px;
    width: 100%;
    height: 44px;
    border: 1px solid #C7C7C7;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.input-card-data {
    max-width: 211px;
    width: 100%;
    height: 44px;
    border: 1px solid #C7C7C7;
    border-bottom-left-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.input-card-cvv {
    max-width: 209px;
    width: 100%;
    height: 44px;
    border: 1px solid #C7C7C7;
    border-bottom-right-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

.input-card-block {
    .card-span {
        color: $orange;
    }
    margin-bottom: 34px;
    >input :active,
     :hover,
     :focus {
        outline: 0;
        outline-offset: 0;
    }
}

.card-data-cvv {
    display: flex;
}