.btn-choose {
    width: 129px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid $orange;
    box-sizing: border-box;
    border-radius: 3px;
    color: $orange;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}