.shooting-time-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    columns: $title;
    max-width: 230px;
    margin-bottom: 30px;
}

.shooting-time-calendar {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 770px;
    height: 74px;
    border: 0.5px solid $grey;
    padding-left: 30px;
    p {
        padding-right: 14px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        >.date-time {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
        }
    }
    .btn-calendar {
        cursor: pointer;
    }
    .datepicker {
        top: 37px;
        right: 0;
        cursor: pointer;
    }
    .datepicker-block {
        position: relative;
    }
    input {
        height: 35px;
        min-width: 254px;
        border: 0;
        background: url("../img/icon-calendar.svg") no-repeat 96% 50%;
    }
    input :active,
     :hover,
     :focus {
        outline: 0;
        outline-offset: 0;
    }
}

.shooting-time-place {
    display: flex;
}

.shooting-time-place1 {
    max-width: 770px;
    border: 0.5px solid $grey;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        color: $title;
    }
}

.place-time {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 17px;
}

.place-price {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 13px;
}

.place-count {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.shooting-time-place2 {
    max-width: 770px;
    border-top: 0.5px solid $grey;
    border-right: 0.5px solid $grey;
    border-left: 0.5px solid $grey;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.shoting-time-feedback {
    max-width: 770px;
    margin-bottom: 82px;
    border-bottom: 0.5px solid $grey;
    border-right: 0.5px solid $grey;
    border-left: 0.5px solid $grey;
    padding-bottom: 48px;
    padding-left: 30px;
}