<div class="shooting-time-block">
    <div class="wrap">
        <p class="shooting-time-title">Доступная съемка в ближайшее время:</p>

        <div class="shooting-time-calendar">
            <div class="datepicker-block">
                <input readonly class="datepicker"></input>
            </div>

        </div>

        <div class="shooting-time-place1">
            <div class="place-description">
                <p class="place-time">15:00 - 18:00</p>
                <p class="place-price">1500₽</p>
                <p class="place-count">Осталось — 1 место</p>
            </div>
            @@include('../../bem-blocks/shooting-time/__btn-choose/__btn-choose.html')
        </div>
        <div class="shooting-time-place2">
            <div class="place-description">
                <p class="place-time">15:00 - 18:00</p>
                <p class="place-price">1500₽</p>
                <p class="place-count">Осталось — 1 место</p>
            </div>
            @@include('../../bem-blocks/shooting-time/__btn-choose/__btn-choose.html')
        </div>
        <div class="shoting-time-feedback">
            @@include('../__feedback-block/__feedback-block.html')
        </div>


    </div>
</div>