<form class="modal">
    <p class="modal-title">Бронирование</p>
    @@include('../modal/__input-data/__input-data.html') @@include('../modal/__input-email/__input-email.html') @@include('../modal/__input-firstname/__input-firstname.html') @@include('../modal/__input-lastname/__input-lastname.html')@@include('../modal/__input-phone/__input-phone.html')
    @@include('../modal/__input-card/__input-card.html') @@include('../modal/__checkbox/__checkbox.html')@@include('../modal/__button/__button.html')
    <div class="modal-close">
        <img src="img/icon-close.svg" alt="">
    </div>
</form>

<div class="modal-overlay">

</div>