<footer class="footer">

    <div class="wrap">
        <div class="footer-block">
            <div class="footer-logo">
                <img src="img/logo.svg" alt="Логотип">
            </div>
            <div class="footer-social-lang">
                <div class="footer-social">
                    <a href=""><img src="img/icon-vk.svg" alt=""></a>
                    <a href=""><img src="img/icon-facebook.svg" alt=""></a>
                    <a href=""><img src="img/icon-instragram.svg" alt=""></a>
                </div>
                <div class="footer-lang">
                    <select>
                    <option>RU</option>
                    <option>EN</option>
                  </select>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-text">
        <p>Тех. поддержка: 8(800)700-00-00</p>
        <p>© 2018 HELYFLY. All Rights Reserved.</p>
    </div>
</footer>