<div class="about-block">
    <div class="wrap">
        <div class="about-block-content">
            <div class="about-block-text">
                <p class="about-title">
                    Об организаторе:
                </p>
                <div class="about-text">
                    <p id="about-text-1">Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном
                        использовании и частных турах.
                        <br>
                        <br> Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента.
                    </p>

                    <button class="moretext-btn">Читать еще</button>

                    <p class="about-title">
                        Что я предоставлю:
                    </p>
                    <p id="about-text-2">
                        Встречу вас на машине после длительного перелёта. Качественный подбор места и локации для вашей съемки. При необходимости всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
                    </p>
                    <button class="moretext-btn">Читать еще</button>
                </div>
            </div>
            <div class="about-block-author">
                @@include('../__author-block/__author-block.html')
                <img src="img/heart.svg" alt="">
            </div>
        </div>
    </div>
</div>