.about-block {
    padding-top: 37px;
}

.about-block-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: $title;
    margin-bottom: 14px;
}

.about-text {
    width: 584px;
    max-width: 584px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $title;
    >p {
        margin: 0;
        -webkit-line-clamp: 7;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.showMoreText {
    -webkit-line-clamp: 100;
}

.about-block-text {
    .moretext-btn {
        margin-bottom: 40px;
        background-color: transparent;
        color: $blue;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        padding-right: 9px;
        position: relative;
        cursor: pointer;
         ::after {
            position: absolute;
            content: url('../img/arrow.svg');
        }
    }
}