<div class="wrap">
    <div class="reviews-block">
        <p class="reviews-block-title">Отзывы:</p>
    </div>
</div>
<div class="wrap">
    <div class="reviews-block-contetns">
        <div class="reviews-block-item">
            <div class="reviews-img">
                <img src="img/reviews-1.png" alt="">
            </div>
            <div class="reviews-block-fr">
                <div class="reviews-block-description">
                    <p class="reviews-fio">Валерия Антонова</p>
                    <p class="reviews-prof">Арт-директор</p>
                </div>
                <div class="reviews-rate-check">
                    <div class="reviews-rate">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                    </div>
                    <div class="reviews-check">
                        <img src="img/icon-check.svg" alt="">
                        <p>Супер! Я бы заказала съемку снова!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews-block-text">
            <p class="reviews-text">Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!</p>
            <p class="reviews-date">27 Апреля, 2019г.</p>
            <hr>
        </div>
    </div>



    <div class="reviews-block-contetns">
        <div class="reviews-block-item">
            <div class="reviews-img">
                <img src="img/reviews-2.png" alt="">
            </div>
            <div class="reviews-block-fr">
                <div class="reviews-block-description">
                    <p class="reviews-fio">Валерия Антонова</p>
                    <p class="reviews-prof">Арт-директор</p>
                </div>
                <div class="reviews-rate-check">
                    <div class="reviews-rate">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                    </div>
                    <div class="reviews-check">
                        <img src="img/icon-check.svg" alt="">
                        <p>Супер! Я бы заказала съемку снова!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews-block-text">
            <p class="reviews-text">Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!</p>
            <p class="reviews-date">27 Апреля, 2019г.</p>
            <hr>
        </div>
    </div>

    <div class="reviews-block-contetns">
        <div class="reviews-block-item">
            <div class="reviews-img">
                <img src="img/reviews-3.png" alt="">
            </div>
            <div class="reviews-block-fr">
                <div class="reviews-block-description">
                    <p class="reviews-fio">Валерия Антонова</p>
                    <p class="reviews-prof">Арт-директор</p>
                </div>
                <div class="reviews-rate-check">
                    <div class="reviews-rate">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                        <img src="img/icon-star.svg" alt="">
                    </div>
                    <div class="reviews-check">
                        <img src="img/icon-check.svg" alt="">
                        <p>Супер! Я бы заказала съемку снова!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews-block-text">
            <p class="reviews-text">Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!</p>
            <p class="reviews-date">27 Апреля, 2019г.</p>
            <hr>
        </div>
    </div>


    <div class="wrap">
        <div class="reviews-showmore">
            <img src="img/arrow.svg" alt="">
            <button id="showmoreTotal">Показать Все (134)</button>
            <img src="img/arrow.svg" alt="">
        </div>
    </div>