<div class="wrap">
    <div class="reviews-block">
        <p class="reviews-block-title">Отзывы:</p>
    </div>
</div>
<div class="wrap">

    <div class="reviews-block-item">
        <img src="img/reviews-1.png" alt="">
        <div class="reviews-block-description">
            <p class="reviews-fio">Валерия Антонова</p>
            <p class="reviews-prof">Арт-директор</p>
            <div class="reviews-rate-check">
                <div class="reviews-rate">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">

                </div>
                <div class="reviews-check">
                    <img src="img/icon-check.svg" alt="">
                    <p>Супер! Я бы заказала съемку снова!</p>
                </div>
            </div>
            <p class="reviews-text">Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!</p>
            <p class="reviews-date">27 Апреля, 2019г.</p>
        </div>
    </div>

    <hr>
    <div class="reviews-block-item">
        <img src="img/reviews-2.png" alt="">
        <div class="reviews-block-description">
            <p class="reviews-fio">Виталий Петров</p>
            <p class="reviews-prof">Фотограф</p>
            <div class="reviews-rate-check">
                <div class="reviews-rate">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">

                </div>
                <div class="reviews-check">
                    <img src="img/icon-check.svg" alt="">
                    <p>Супер! Я бы заказала съемку снова!</p>
                </div>
            </div>
            <p class="reviews-text">Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!</p>
            <p class="reviews-date">19 Апреля, 2019г.</p>
        </div>
    </div>
    <hr>
    <div class="reviews-block-item">
        <img src="img/reviews-3.png" alt="">
        <div class="reviews-block-description">
            <p class="reviews-fio">Джим Керри</p>

            <div class="reviews-rate-check">
                <div class="reviews-rate">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">
                    <img src="img/icon-star.svg" alt="">

                </div>
                <div class="reviews-check">
                    <img src="img/icon-check.svg" alt="">
                    <p>Супер! Я бы заказала съемку снова!</p>
                </div>
            </div>
            <p class="reviews-text">Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя,
                правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!</p>
            <p class="reviews-date">11 Апреля, 2019г.</p>
        </div>
    </div>
</div>



<div class="wrap">
    <div class="reviews-showmore">
        <img src="img/arrow.svg" alt="">
        <button>Показать Все (134)</button>
        <img src="img/arrow.svg" alt="">
    </div>
</div>