<div class="map-block">
    <div class="map-block-include">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A89753131d864e96e3b2c8548e2934dedb80058119425f134790dce07971d390b&amp;width=100%25&amp;height=509&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="wrap">
        <div class="map-block-card">

            <div class="card-item">
                <div class="card-item-num">1</div>
                <div class="card-item-description">
                    <p>Где встречаемся?</p>
                    <p>Москва</p>
                </div>
            </div>
            <div class="card-item">
                <div class="card-item-num">2</div>
                <div class="card-item-description">
                    <p>Время съемки</p>
                    <p>3 часа</p>
                </div>
            </div>
            <div class="card-item">
                <div class="card-item-num">3</div>
                <div class="card-item-description">
                    <p>Мест осталось:</p>
                    <p>2 места</p>
                </div>
            </div>
            <div class="map-block-author">
                @@include('../__author-block/__author-block.html')
            </div>
        </div>

    </div>

</div>