.main-page {
    width: 100vw;
    height: 840px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    padding-top: 286px;
    margin-bottom: 70px;
    .main-page-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        color: #FFFFFF;
        max-width: 887px;
        margin-bottom: 29px;
    }
}

.orange-txt {
    color: $orange;
}

.__button-price {
    background-image: url(../img/button-price.svg);
    background-repeat: no-repeat;
    padding-top: 11px;
    padding-left: 24px;
    width: 224px;
    height: 96px;
    margin-bottom: 12px;
    p {
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
    }
    p:last-of-type {
        font-weight: 800;
        font-size: 35px;
        color: #FFFFFF;
    }
    .__button-price-content {
        display: flex;
        align-items: center;
    }
    .price-discount-icon {
        padding-left: 7px;
        img {
            width: 52px;
            height: 52px;
        }
    }
}